.navbar {
  height: 50px;
  background-color: #4618ac;
  border-bottom: 1px solid #1f0a4e;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.navButton {
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  color: white;
  background-color :#4618ac;
}